.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.home-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    margin: auto;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    max-width: 900px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    z-index: 1;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
}

.home-header {
    color: black;
    font-size: 3.3rem;
    font-weight: 700;
}

.messages-container {
    margin-bottom: 20px;
    overflow-y: auto;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
    font-size: 1.2rem;
    color: black;
}

.divider-line {
    height: 1px;
    background-color: white;
    color: red;
}

.input-form {
    display: flex;
    justify-content: center;
}

.input-section {
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: auto; */
}

.input-field {
    width: 85%;
    padding: 10px;
    /* margin: 10px 0; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 200px !important;
    min-height: 50px;
    max-width: 600px !important;
    height: auto;
    resize: none;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 1);
    font-size: 1.1rem;
}

.toggle-music-container,
.toggle-va-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
}

.toggle-music-button {
    width: 200px;
}

.toggle-va-button {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.send-button,
.download-button,
.replay-audio-button {
    width: 100px;
}

.sounds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-items: center; */
}

.volume-slider {
    /* margin-left: 10px; */
    cursor: grab;
    width: 200px;
}