.recording-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.recording-buttons {
    display: flex;
    width: 450px;
    justify-content: space-around;
    align-items: center;
}

.start-recording,
.stop-recording {
    width: 200px;
}

.media-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    margin-bottom: 20px;
}

.media-player {
    /* width: 200px; */
    border-radius: 27px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 1);
}

.download-text {
    margin-left: 10px;
}